DeathStarSupply/DeathStarClientConsole/Connected Services/DeathStarSupply/SupplyService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DeathStarSupply" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DeathStarSupply" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSupplyItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupplyItem" nillable="true" type="tns:SupplyItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupplyItem" nillable="true" type="tns:ArrayOfSupplyItem" />
  <xs:complexType name="SupplyItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Available" type="xs:int" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupplyItem" nillable="true" type="tns:SupplyItem" />
</xs:schema>