DeathStarSupply/DeathStarClientConsole/Connected Services/DeathStarSupply/SupplyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12870/SupplyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DeathStarSupply" />
  <xs:import schemaLocation="http://localhost:12870/SupplyService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="GetSupplies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSuppliesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DeathStarSupply" minOccurs="0" name="GetSuppliesResult" nillable="true" type="q1:ArrayOfSupplyItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="requiredDate" type="q2:DateTimeOffset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="OrderItemResult" type="q3:DateTimeOffset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>