StockTickerClient/Connected Services/StockTickerService/StockTicker1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://recode.samplex.duplex" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://recode.samplex.duplex" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://recode.samplex.duplex/Imports">
      <xsd:import schemaLocation="http://localhost:7988/StockTicker.svc?xsd=xsd0" namespace="http://recode.samplex.duplex" />
      <xsd:import schemaLocation="http://localhost:7988/StockTicker.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7988/StockTicker.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StockTicker" />
      <xsd:import schemaLocation="http://localhost:7988/StockTicker.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStockTicker_Watch_InputMessage">
    <wsdl:part name="parameters" element="tns:Watch" />
  </wsdl:message>
  <wsdl:message name="IStockTicker_Unwatch_InputMessage">
    <wsdl:part name="parameters" element="tns:Unwatch" />
  </wsdl:message>
  <wsdl:message name="IStockTicker_Update_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IStockTicker">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Watch">
      <wsdl:input wsaw:Action="http://recode.samplex.duplex/IStockTicker/Watch" message="tns:IStockTicker_Watch_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Unwatch">
      <wsdl:input wsaw:Action="http://recode.samplex.duplex/IStockTicker/Unwatch" message="tns:IStockTicker_Unwatch_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Update">
      <wsdl:output wsaw:Action="http://recode.samplex.duplex/IStockTicker/Update" message="tns:IStockTicker_Update_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>